{
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-concentric-order"
    ],
    "rules": {
        "indentation": 4,
        "no-descending-specificity": null,
        "font-family-no-missing-generic-family-keyword": null
    }
}
