* {
 margin: 0;
 padding: 0;}

/* General Styles */

body{
 font-family: Helvetica, 'Trebuchet ms', 'Gill Sans', 'Lucida Grande', LucidaGrande, verdana;
 font-size: 12.5px;
 color: #353535;
 line-height: 100%;
 margin-top: 0px;
 background: #ffffff;}

.collage {
 border: none;
 display: inline-block;
 width: 250px;
 height: 250px;
 margin: 15px 25px;
 border-radius: 15px;
 box-shadow: 2px 2px 15px #000;}

#border{
 border: 0px solid #669900;
 width: 980px;
 margin: 0 auto;
 background: url(../images_site/background.jpg) no-repeat;
 overflow: hidden;}

img{
 border: 0px;}

a img{
 border: 0px;}

/* /General Styles */
/* Global Classes */

p{
 margin-top: 5px;
 color: #333333;}

h1{
 }

h2{
 margin-top: 5px;
 font-weight: normal;}

h3{
 line-height: 26px;
 font-weight: normal;
 margin: 2px 0px 9px;
 font-size: 24px;
 color: #003550;}

h4{
 font-size: 1.1em;
 margin-top: 10px;
 margin-bottom: 0px;
 color: #006394;}

h5{
 font-size: 1.0em;
 color: #222222;}

a:link{
 text-decoration: none;
 color: #005079;}

a:visited{
 text-decoration: none;
 color: #3D6F88;}

a:active{
 text-decoration: none;
 color: #637C88;}

a:hover{
 text-decoration: none;
 color: #000000;}

/* /Global Classes */
/* Layout */

.clearer{
 clear: both;}

#wrapper{
 width: 930px;
 overflow: hidden;
 margin: 0px auto;
 background-color: #ffffff;}

#container{
 max-width: 930px;}

/* /Layout */
/* Header */

#pageHeader{
 height: 190px;}

#pageHeader h1{
 position: relative;
 top: 10px;
 line-height: 26px;
 font-weight: normal;
 left: 10px;
 margin: 0;
 font-size: 1.9em;
 color: #eeeeee;}

#pageHeader h2{
 position: relative;
 top: 138px;
 right: 10px;
 text-align: right;
 margin: 0;
 font-size: 1.5em;
 font-weight: normal;
 color: #444444;}

/* /Header */
/* Navigation */

#navcontainer{
 position: relative;
 font-family: Helvetica, 'Gill sans', 'Trebuchet ms', arial;
 top: 4px;
 left: 0px;
 width: 155px;
 line-height: 20px;
 margin: 0;
 float: left;
 background: no-repeat;
 z-index: 5;}

/* Level 0 */
#navcontainer ul{
 list-style: none;
 margin: 0px;
 padding: 0px;}

#navcontainer ul #current{
 color: #eeeeee;
 background: #416E83;
 /* BFD7E3 00527A CEE1EB*/}

#navcontainer a{
 font-size: 13px;
 display: block;
 color: #E9E9E9;
 text-decoration: none;
 padding-left: 12px;
 height: 1.50em; /*new*/}

#navcontainer a:hover{
 color: #09405E;
 background: #A4C3D3;}

/* Level 1 */
#navcontainer ul ul{
 padding: 0px;
 margin: 0px;}

#navcontainer ul ul a{
 display: block;
 text-decoration: none;
 padding-left: 25px;
 color: #85B497;
 font-size: 13px;
 height: 14px; /*new*/}

/* /Navigation */
/* Content */

#contentContainer{
 width: 100%;
 float: left;
 overflow: hidden;
 text-align: left;
 min-height: 300px;
 line-height: 1.3em;}

#contentContainer #content{
 padding: 9px 9px 5px;}

/* /Content */
/* Slider */

#topics{
 font-size: 1.1em;
 line-height: 1.4em;}

.slidehide{
 display: none;
 overflow: hidden;}

.category{
 cursor: pointer;
 font-size: 100%;}

.currentcat{
 color: #1676A7;}

.category:hover, .currentcat:hover{
 color: #1184BE;}

.slide li{
 list-style: none;
 margin: 1px;}

.slide .article{
 width: 660px;
 float: left;
 display: block;
 padding-bottom: 10px;}

.slide .screenshots{
 width: 210px;
 float: right;
 display: block;}

/* /Slider */
/* Footer */

#footer{
 text-align: center;
 height: 25px;
 padding-top: 3px;
 border-top-width: 1px;
 border-top-style: solid;
 border-top-color: #EEEEEE;
 color: #6B6B6B;}

#footer .cc {
 background: url(../images_site/cc.png) no-repeat top left;
 display: inline-block;
 border-width: 0;
 vertical-align: middle;
 width: 20px;
 height: 20px;
 background-position: 0 0;}

#footer p{
 padding: 0px;
 margin: 0px;
 font-size: 11px;}

#footer a:link, #footer a:visited{
 color: #686868;}

#footer a:hover, #footer a:active{
 color: #979797;}

/* /Footer */
