{% if page.template == 'album' %}
head = '''
{% else %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>153957 Photography : {{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="application-name" content="153957 Photography">
{% endif %}
    <link rel="shortcut icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images_favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images_favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images_favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images_favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images_favicon/manifest.json">
    <link rel="mask-icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images_favicon/safari-pinned-tab.svg" color="#4d4d4d">
    <meta name="theme-color" content="#ffffff">
    <meta name="referrer" content="same-origin">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/vendor/normalize.css">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/icons.css">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/main.css">
    <style>
      header {
        --banner: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images_banners/{{ page.banner|default('DSC_000166') }}.jpg');
        --banner2x: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images_banners/{{ page.banner|default('DSC_000166') }}@2x.jpg');
        --top: {{ page.top| default('100px') }};
        --left: {{ page.left| default('425px') }};
      }
    </style>
    {{ page.head|join('\n') }}
{% if page.template == 'album' %}
'''
{% else %}
  </head>

  <body>
{% endif %}
{% if page.template == 'album' %}body_prefix = '''{% endif %}
    <div id="wrapper">
      <div id="shadow"></div>
      <header>
        <nav>
          <ul>
            {% for page_ in pages %}
              <li><a href="{{ page_.url }}" {% if page == page_ %}class="active"{% endif %}>{{ page_.title }}</a>
            {% endfor %}
          </ul>
        </nav>
        <h1>153957 Photography</h1>
        <h2>{{ page.title }}</h2>
      </header>
      <main>
{% if page.template == 'album' %}'''{% endif %}
