<link rel="shortcut icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images_favicon/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images_favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images_favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images_favicon/favicon-16x16.png">
<link rel="manifest" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images_favicon/manifest.json">
<link rel="mask-icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images_favicon/safari-pinned-tab.svg" color="#4d4d4d">
<meta name="theme-color" content="#ffffff">
