<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>153957 Photography : {{ page.title }}</title>
        {% include 'favicon.html' %}
        <meta name="application-name" content="153957 Photography">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/vendor/normalize.css">
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/icons.css">
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/main.css">
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/tipTip.css">
        <style>
            #pageHeader {
                background-image: linear-gradient(to bottom,
                                                  rgba(255, 255, 255, 0) 70%,
                                                  rgba(255, 255, 255, 0.1) 75%,
                                                  rgba(255, 255, 255, 0.9) 95%,
                                                  rgba(255, 255, 255, 1)),
                                  url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images_banners/{{ page.banner|default('DSC_000166') }}.jpg');
            }
            @media screen and (-webkit-min-device-pixel-ratio: 2),
                   screen and (min-resolution: 192dpi),
                   screen and (min-resolution: 2dppx) {
                #pageHeader {
                    background-image: linear-gradient(to bottom,
                                                      rgba(255, 255, 255, 0) 70%,
                                                      rgba(255, 255, 255, 0.1) 75%,
                                                      rgba(255, 255, 255, 0.9) 95%,
                                                      rgba(255, 255, 255, 1)),
                                      url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images_banners/{{ page.banner|default('DSC_000166') }}@2x.jpg');
                }
            }
        </style>
        {{ page.head|join('\n') }}
    </head>

    <body>
        <div id="wrapper">
            <div id="shadow"></div>
            <div id="pageHeader">
                {% include 'navigation.html' %}
                <h1>153957 Photography</h1>
                <h2>{{ page.title }}</h2>
            </div><!-- /pageHeader -->
            <div id="container">
                <div id="contentContainer">
                    <div id="content">
                        {{ page.content }}
                    </div><!-- /content -->
                </div><!-- /contentContainer -->
                <div class="clearer">
                </div><!-- clearer -->
                <div id="footer">
                    <p>
                        This website and its content is licensed under
                        <a rel="license noreferrer" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
                            <i class="icon icon-creative-commons"></i>
                        </a>
                        by Arne de Laat. Some rights reserved.
                    </p>
                </div><!-- /footer -->
            </div><!-- /container -->
        </div><!-- /wrapper -->

        <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/vendor/jquery-3.4.1.min.js"></script>
        {{ page.footer|join('\n') }}
    </body>
</html>

