/* glue: 0.9.4 hash: 9778dfd0f8 */
        .thu-D700_D80_Virtual_Eyes,
.thu-D700_D80_101014_2_4_1,
.thu-D700_D80_100722_2_4,
.thu-D700_110928_1,
.thu-D700_110927_1,
.thu-D700_110413_2,
.thu-D700_101109_2,
.thu-D700_101109_1,
.thu-D700_100722_4_5,
.thu-D700_091228_1 {
            background-image: url('../../images_timelapse/D700.png?9778dfd0f8');
            background-repeat: no-repeat;
        }
        
        .thu-D700_D80_Virtual_Eyes {
            background-position: 0 0;
            width: 90px;
            height: 60px;
        }
        
        .thu-D700_D80_101014_2_4_1 {
            background-position: -90px 0;
            width: 90px;
            height: 60px;
        }
        
        .thu-D700_D80_100722_2_4 {
            background-position: 0 -60px;
            width: 90px;
            height: 60px;
        }
        
        .thu-D700_110928_1 {
            background-position: -90px -60px;
            width: 90px;
            height: 60px;
        }
        
        .thu-D700_110927_1 {
            background-position: 0 -120px;
            width: 90px;
            height: 60px;
        }
        
        .thu-D700_110413_2 {
            background-position: -90px -120px;
            width: 90px;
            height: 60px;
        }
        
        .thu-D700_101109_2 {
            background-position: -180px 0;
            width: 90px;
            height: 60px;
        }
        
        .thu-D700_101109_1 {
            background-position: -180px -60px;
            width: 90px;
            height: 60px;
        }
        
        .thu-D700_100722_4_5 {
            background-position: -180px -120px;
            width: 90px;
            height: 60px;
        }
        
        .thu-D700_091228_1 {
            background-position: 0 -180px;
            width: 90px;
            height: 60px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .thu-D700_D80_Virtual_Eyes,
    .thu-D700_D80_101014_2_4_1,
    .thu-D700_D80_100722_2_4,
    .thu-D700_110928_1,
    .thu-D700_110927_1,
    .thu-D700_110413_2,
    .thu-D700_101109_2,
    .thu-D700_101109_1,
    .thu-D700_100722_4_5,
    .thu-D700_091228_1 {
                background-image: url('../../images_timelapse/D700.png?9778dfd0f8');
                -webkit-background-size: 270px 240px;
                -moz-background-size: 270px 240px;
                background-size: 270px 240px;
            }
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 2.0), screen and (min--moz-device-pixel-ratio: 2.0), screen and (-o-min-device-pixel-ratio: 200/100), screen and (min-device-pixel-ratio: 2.0), screen and (min-resolution: 2.0dppx) {
            .thu-D700_D80_Virtual_Eyes,
    .thu-D700_D80_101014_2_4_1,
    .thu-D700_D80_100722_2_4,
    .thu-D700_110928_1,
    .thu-D700_110927_1,
    .thu-D700_110413_2,
    .thu-D700_101109_2,
    .thu-D700_101109_1,
    .thu-D700_100722_4_5,
    .thu-D700_091228_1 {
                background-image: url('../../images_timelapse/D700@2x.png?9778dfd0f8');
                -webkit-background-size: 270px 240px;
                -moz-background-size: 270px 240px;
                background-size: 270px 240px;
            }
        }
        