body {
    background: #000000;
    color: #DDDDDD;}

#pageHeader h2 {
    color: #dddddd;}

#shadow {
    box-shadow: 0 0 1.5em -0.5em white;}

#wrapper {
    background-color: #000;}

#footer {
    border-top-color: #666666;}

#footer .cc {
    background-position: -20px 0px;}

p {
    color: #999999;}

a:hover {
    color: #2D7DA5;}
