#controls,
#controls * {
    display: flex;
    position: static !important;
    box-shadow: none !important;
    cursor: default !important;
    font-size: 14px;
}

#mov,
#mov * {
    user-select: none;
}

#controls {
    position: relative !important;
    bottom: 0;
    left: 0;
    opacity: 1;
    border-top: 1px solid #444;
    background: linear-gradient(to bottom, #2b2b2b, #050505);
    height: 24px;
}

#play_pause_button {
    display: block;
    margin: 5px 0 0 8px;
    width: 15px;
    height: 15px;
    color: #eee;
}

#progress_bar {
    display: block;
    padding: 6px 0 0;
}

#time_display {
    display: block;
    float: left;
    cursor: default;
    width: 35px;
    text-align: center !important;
    text-shadow: #000 1px 1px 1px;
    color: #d5d5d5;
    font: normal bold 10px/10px Helvetica, Arial, sans-serif;
}

/* Progress */

#progress_back {
    position: relative !important;
}

#progress_loading_wrapper {
    position: absolute !important;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-clip: padding-box;
    width: 100%;
    height: 8px;
    overflow: hidden;
}

#progress_buffered {
    position: absolute !important;
    top: 0;
    left: 0;
    transition: 0.5s width;
    background: linear-gradient(to bottom, #6a6a6a, #404040);
    background-clip: padding-box;
    width: 0;
    height: 10px;
    overflow: hidden;
}

#progress_elapsed {
    left: 0;
}

#progress_indicator {
    position: absolute !important;
    top: 0;
    left: 1px;
    border-radius: 10px;
    background: none;
    width: 100%;
    height: 10px;
    -webkit-appearance: none;
    -o-appearance: none;
}

#progress_indicator:focus {
    outline: none;
}

#progress_indicator::-webkit-slider-thumb {
    display: block;
    width: 4px;
    background: linear-gradient(to bottom, #1c1c1c, #0a0a0a);
    height: 10px;
    -webkit-appearance: none;
}

/* /Progress */

/* Volume */

#volume_speaker_button {
    display: block;
    margin: 5px 0 0 5px;
    width: 15px;
    height: 15px;
    color: #eee;
}

#volume_bar {
    display: block;
    padding: 6px 0 0;
    width: 50px;
}

#volume_back {
    display: block;
    border-radius: 20px;
}

#volume_used {
    border-radius: 20px 5px 5px 20px;
    min-width: 5px;
}

#volume_indicator {
    position: absolute !important;
    top: 8px;
    border-radius: 10px;
    background: none;
    width: 100%;
    height: 8px;
    -webkit-appearance: none;
    -o-appearance: none;
}

#volume_indicator:focus {
    outline: none;
}

#volume_indicator::-webkit-slider-thumb {
    display: block;
    border: 1px solid #000;
    border-radius: 50%;
    background: linear-gradient(to bottom, #2e2e2e, #0a0a0a);
    background-clip: padding-box;
    width: 10px;
    height: 10px;
    -webkit-appearance: none;
}

/* Apperance Sliders */

#progress_back,
#volume_back {
    float: left;
    border: 1px solid rgba(0, 0, 0, 1) !important;
    box-shadow: rgba(255, 255, 255, 0.05) 0 1px 0 !important;
    background: linear-gradient(to bottom, #353535, #5b5b5b);
    background-clip: padding-box;
    padding: 0;
    height: 10px;
}

#progress_elapsed,
#volume_used {
    position: relative !important;
    background: linear-gradient(to bottom, #bbb, #666);
    background-clip: padding-box;
    width: 0;
    height: 10px;
}

/* Fullscreen */

#fullscreen_button {
    display: block;
    margin: 5px 0 0 5px;
    width: 15px;
    height: 15px;
    color: #eee;
}

/* /Fullscreen */
