.topics {
    margin: 0 15px;

    & li {
        list-style: none;

        &::before {
            content: "» ";
        }
    }
}

.guide_content {
    margin: 0 15px;

    & h3 {
        margin-top: 24px;
    }

    & h4 {
        margin-top: 20px;
    }

    & p {
        line-height: 26px;
    }

    & img {
        border-radius: 2px;
    }

    & li {
        margin: 1px;
        list-style: none;

        &::before {
            content: "» ";
        }
    }

    & .screenshots {
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0;

        & a {
            display: flex;
            flex-direction: column;
            margin-right: 3px;
        }
    }
}

.select {
    background-color: #63bbe7;
}

.selecthalf {
    background-color: #aed6eb;
}

.caption {
    font-size: 14px;
}
