* {
    margin: 0;
    padding: 0;}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12.5px;
    color: #353535;
    line-height: 100%;
    margin-top: 0px;
    background: #ffffff;}

.collage {
    border: none;
    display: inline-block;
    width: 250px;
    height: 250px;
    margin: 15px 25px;
    border-radius: 15px;
    box-shadow: 2px 2px 15px #000;}

img {
    border: 0px;}

a img {
    border: 0px;}

p {
    margin-top: 5px;
    color: #333333;}

h1 {
    }

h2 {
    margin-top: 5px;
    font-weight: normal;}

h3 {
    line-height: 26px;
    font-weight: normal;
    margin: 2px 0px 9px;
    font-size: 24px;
    color: #003550;}

h4 {
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #006394;}

h5 {
    font-size: 1.0em;
    color: #222222;}

a:link,
a:visited,
a:active,
a:hover {
    text-decoration: none;}

a:link {
    color: #005079;}

a:visited {
    color: #3D6F88;}

a:active {
    color: #637C88;}

a:hover {
    color: #000000;}

.clearer {
    clear: both;}

#shadow {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    width: 100%;
    height: 300px;
    box-shadow: 0 0 1.5em -0.5em black;
    background-color: transparent;}

#wrapper {
    position: relative;
    min-height: 400px;
    max-width: 960px;
    margin: 0px auto;
    background-color: #ffffff;}

#container {
    max-width: 960px;}

#pageHeader {
    background-size: cover;
    height: 190px;}

#pageHeader h1 {
    position: absolute;
    top: 100px;
    left: 425px;
    line-height: 26px;
    font-weight: normal;
    margin: 0;
    font-size: 2.5em;
    color: #fff;}

#pageHeader h2 {
    display:none;
    position: absolute;
    top: 158px;
    right: 10px;
    text-align: right;
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;}

#navcontainer {
    background: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 125px;
    line-height: 25px;
    padding: 5px 0;
    float: left;
    background: no-repeat;
    z-index: 5;}

#navcontainer .active {
    transition: all 0.1s linear;
    background: rgba(0, 0, 0, 1);}

#navcontainer:hover .active {
    background: rgba(0, 0, 0, .4);}

#navcontainer ul {
    list-style: none;
    margin: 0px;
    padding: 0px;}

#navcontainer ul #current {
    color: #eeeeee;
    background: #416E83;
    /* BFD7E3 00527A CEE1EB*/}

#navcontainer a {
    transition: all 0.1s linear;
    font-size: 15px;
    display: block;
    color: #eee;
    text-decoration: none;
    padding-left: 12px;
    height: 1.80em;}

#navcontainer a:hover {
    background: rgba(0, 0, 0, 0.6);}

#navcontainer ul ul {
    padding: 0px;
    margin: 0px;}

#navcontainer ul ul a {
    display: block;
    text-decoration: none;
    padding-left: 25px;
    color: #85B497;
    font-size: 13px;
    height: 14px;}

hr {
    margin: 1.5em auto;
    background: #999;
    width: 240px;
    height: 1px;
    border: 0;
}

#contentContainer {
    width: 100%;
    float: left;
    overflow: hidden;
    text-align: left;
    min-height: 300px;
    line-height: 1.3em;}

#content {
    padding: 9px 9px 5px;}

#topics {
    font-size: 1.1em;
    line-height: 1.4em;}

.slidehide {
    display: none;
    overflow: hidden;}

.category {
    cursor: pointer;
    font-size: 100%;}

.currentcat {
    color: #1676A7;}

.category:hover,
.currentcat:hover {
    color: #1184BE;}

.slide li {
    list-style: none;
    margin: 1px;}

.slide .article {
    width: 660px;
    float: left;
    display: block;
    padding-bottom: 10px;}

.slide .screenshots {
    width: 210px;
    float: right;
    display: block;}

#footer {
    text-align: center;
    height: 25px;
    padding-top: 3px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #EEEEEE;
    color: #6B6B6B;}

#footer p {
    padding: 0px;
    margin: 0px;
    font-size: 11px;}

#footer a:link,
#footer a:visited {
    color: #686868;}

#footer a:hover,
#footer a:active {
    color: #979797;}
