#slider {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

#categories {
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    width: 180px;
    vertical-align: top;

    & ul {
        display: flex;
        flex-wrap: wrap;
    }
}

.category {
    display: inline-block;
    cursor: pointer;
    padding: 0 1%;
    width: 48%;
    list-style: none;
    vertical-align: middle;
    font-size: 14px;
}

.currentcat {
    color: #1676a7;
}

.category:hover,
.currentcat:hover {
    color: #1184be;
}

#thumbnails {
    display: inline-block;
    flex-basis: 260px;
    flex-grow: 1;
    overflow: hidden;

    & li {
        display: inline-block;
        position: relative;
        border-radius: 2px;
        background-color: transparent;
        cursor: pointer;
        width: 80px;
        height: 59px;
    }

    & .currentmovie::before,
    & li:hover::before {
        display: inline-block;
        position: absolute;
        top: 30%;
        left: 0;
        width: 100%;
        vertical-align: bottom;
        text-align: center;
        line-height: 1;
        color: rgba(255, 255, 255, 0.8);
        font-family: FontAwesome;
        font-size: 200%;
        -webkit-font-smoothing: antialiased;
        content: '\f01d';
    }

    & .currentmovie::before {
        color: rgba(255, 255, 255, 0.9);
    }
}

.slide {
    display: none;
    opacity: 0;
    margin: 0 auto;
    padding: 7px 0;
    width: 97%;

    &.currentslide {
        display: block;
        transition: opacity 1s;
        opacity: 1;
    }

    & li {
        margin: 1px;
        list-style: none;
    }
}

video,
audio {
    display: block;
}

#poster {
    position: absolute;
    cursor: pointer;
    width: 100%;
}

#poster.showing {
    opacity: 1;
}

#status {
    position: absolute;
    z-index: 2;
    margin: 20% 0;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 900%;
}

#movie {
    display: inline-block;
    position: relative;
    margin-top: 5px;
    background-color: transparent;
    width: 100%;
    height: 665px;
    overflow: hidden;
}

#player {
    margin: 37px 0;
    width: 100%;
    height: 529px;
}

#status.showing,
.showing {
    position: absolute;
    opacity: 0.8;
    z-index: 1;
}

#status.hidden,
.hidden {
    display: none;
    position: absolute;
    opacity: 0;
    z-index: -1;
}
