#slider {
    float: left;
    width: 100%;
    height: 143px;
    overflow: hidden;
}

#categories {
    display: inline-block;
    width: 160px;
    vertical-align: top;
}

.category {
    display: inline-block;
    padding: 0 1%;
    width: 48%;
    list-style: none;
    vertical-align: middle;
}

#thumbnails {
    display: inline-block;
    width: 80%;
    overflow: hidden;
}

.slide {
    margin: 0 auto;
    padding: 7px 0;
    width: 97%;
}

video,
audio {
    display: block;
}

#poster,
#thumbnails li {
    cursor: pointer;
}

#poster {
    position: absolute;
}

#poster.showing {
    opacity: 1;
}

#status {
    position: absolute;
    z-index: 2;
    margin: 20% 0;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 900%;
}

#movie {
    display: inline-block;
    position: relative;
    margin-top: 5px;
    background-color: transparent;
    width: 100%;
    height: 665px;
    overflow: hidden;
}

#status.showing,
.showing {
    position: absolute;
    opacity: 0.8;
    z-index: 1;
}

#status.hidden,
.hidden {
    display: none;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

#thumbnails li {
    display: inline-block;
    position: relative;
    border-radius: 2px;
    background-color: transparent;
    width: 80px;
    height: 59px;
}

#thumbnails .currentmovie::before,
#thumbnails li:hover::before {
    display: inline-block;
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    vertical-align: bottom;
    text-align: center;
    line-height: 1;
    color: rgba(255, 255, 255, 0.8);
    font-family: FontAwesome;
    font-size: 200%;
    -webkit-font-smoothing: antialiased;
    content: '\f01d';
}

#thumbnails .currentmovie::before {
    color: rgba(255, 255, 255, 0.9);
}
