* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Jost';
    font-weight: 400;
    font-style: normal;
    font-display: block;
    src: url('../font/Jost-400.woff2') format('woff2');
}

@font-face {
    font-family: 'Jost';
    font-weight: 700;
    font-style: normal;
    font-display: block;
    src: url('../font/Jost-700.woff2') format('woff2');
}

body {
    margin-top: 0;
    background: #fff;
    line-height: 23px;
    color: #353535;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.collage {
    display: inline-block;
    margin: 25px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 12px #555;
    background-size: cover;
    width: 250px;
    height: 250px;
}

img {
    border: 0;
}

a img {
    border: 0;
}

p {
    margin-top: 5px;
    color: #222;
}

h2 {
    margin-top: 5px;
    font-weight: normal;
}

h3 {
    margin: 2px 0 9px;
    line-height: 26px;
    color: #333;
    font-size: 24px;
    font-weight: normal;
}

h4 {
    margin-top: 15px;
    margin-bottom: 5px;
    color: #222;
    font-size: 20px;
}

h5 {
    color: #222;
    font-size: 18px;
}

a:link,
a:visited,
a:active,
a:hover {
    text-decoration: none;
}

a:link {
    color: #005079;
}

a:visited {
    color: #3d6f88;
}

a:active {
    color: #637c88;
}

a:hover {
    color: #000;
}

.clearer {
    clear: both;
}

#shadow {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    box-shadow: 0 -16px 18px -6px black;
    background-color: transparent;
    width: 100%;
    height: 320px;
}

#wrapper {
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    max-width: 960px;
    min-height: 400px;
}

#container {
    max-width: 960px;
}

#pageHeader {
    position: relative;
    background-size: cover;
    height: 170px;
    overflow: hidden;

    & h1 {
        position: absolute;
        top: 100px;
        left: 425px;
        margin: 0;
        line-height: 26px;
        white-space: nowrap;
        color: #fff;
        font-family: Jost;
        font-size: 25px;
        font-weight: normal;
    }

    & h2 {
        display: none;
        position: absolute;
        top: 158px;
        right: 10px;
        margin: 0;
        text-align: right;
        font-size: 1.5em;
        font-weight: normal;
    }
}

nav {
    display: inline-block;
    background-image:
        linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.65) 62%,
            rgba(0, 0, 0, 0.6) 67%,
            rgba(0, 0, 0, 0.05) 95%,
            rgba(0, 0, 0, 0) 100%
        );
    background-repeat: no-repeat;
    height: 100%;
    line-height: 25px;

    &:hover .active {
        background: rgba(0, 0, 0, 0.4);
    }

    & .active {
        transition: background 0.1s linear;
        background: rgba(0, 0, 0, 1);
    }

    & ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 5px 0;
        list-style: none;
    }

    & ul #current {
        background: #416e83;
        color: #eee;
    }

    & a {
        display: block;
        transition: background 0.1s linear;
        padding: 0 20px 0 12px;
        height: 1.8em;
        text-decoration: none;
        white-space: nowrap;
        color: #eee;
        font-size: 15px;

        &:hover {
            background: rgba(0, 0, 0, 0.6);
        }

        &:visited,
        &:link {
            color: #eee;
        }
    }
}

hr {
    margin: 1.5em auto;
    border: 0;
    background: #999;
    width: 240px;
    height: 1px;
}

#contentContainer {
    width: 100%;
    min-height: 300px;
    overflow: hidden;
    text-align: left;
}

#content {
    padding: 8px 12px 6px;
}

.album {
    border: 0;
    background-color: transparent;
    width: 100%;
    overflow: auto;
}

#footer {
    border-top: 1px solid #eee;
    padding-top: 3px;
    height: 25px;
    text-align: center;
    color: #6b6b6b;

    & p {
        margin: 0;
        padding: 0;
        font-size: 11px;
    }

    & a:link,
    & a:visited {
        color: #686868;
    }

    & a:hover,
    & a:active {
        color: #979797;
    }
}

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & > div {
        flex-grow: 1;
        min-width: 220px;
    }
}
