{% extends "base.html" %}

{% block page_name %}Index{% endblock %}

{% block style %}
    #pageHeader h1 {
        color: #111111;
        top: 28px;
        left: 305px;}

    .photography {background-image: url({% static '/static/images_index/photography.jpg' %});}
    .timelapse {background-image: url({% static '/static/images_index/timelapse.jpg' %});}
    .timelapse_guide {background-image: url({% static '/static/images_index/timelapse_guide.jpg' %});}

    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
        .photography {background-image: url({% static '/static/images_index/photography@2x.jpg' %});}
        .timelapse {background-image: url({% static '/static/images_index/timelapse@2x.jpg' %});}
        .timelapse_guide {background-image: url({% static '/static/images_index/timelapse_guide@2x.jpg' %});}
    }
{% endblock %}

{% block body %}
    <a href="{% url '/photography.html' %}" class="collage photography" data-tip="Photography"></a>
    <a href="{% url '/timelapse.html' %}" class="collage timelapse" data-tip="Time-Lapse Movies"></a>
    <a href="{% url '/timelapse_guide.html' %}" class="collage timelapse_guide" data-tip="Time-Lapse Guide"></a>
{% endblock %}

{% block scripts %}
    <script src="{% static '/static/js/vendor/jquery.tipTip.min.js' %}"></script>
    <script src="{% static '/static/js/index.js' %}"></script>
{% endblock %}
