{% extends "base.html" %}

{% block page_name %}
    Index
{% endblock %}

{% block style %}
    #pageHeader h1 {color: #111111; top:35px; left: 195px;}
    #navcontainer ul #current{background: #666666;}
    .idx_1_1 {background-image: url({% static '/static/images_index/index_01_1.jpg' %});}
    .idx_1_2 {background-image: url({% static '/static/images_index/index_01_2.jpg' %});}
    .idx_1_3 {background-image: url({% static '/static/images_index/index_01_3.jpg' %});}
    .idx_1_4 {background-image: url({% static '/static/images_index/index_01_4.jpg' %});}
    .idx_1_5 {background-image: url({% static '/static/images_index/index_01_5.jpg' %});}
    .idx_1_6 {background-image: url({% static '/static/images_index/index_01_6.jpg' %});}
    .idx_2_1 {background-image: url({% static '/static/images_index/index_02_1.jpg' %});}
    .idx_2_2 {background-image: url({% static '/static/images_index/index_02_2.jpg' %});}
    .idx_2_3 {background-image: url({% static '/static/images_index/index_02_3.jpg' %});}
    .idx_2_4 {background-image: url({% static '/static/images_index/index_02_4.jpg' %});}
    .idx_3_1 {background-image: url({% static '/static/images_index/index_03_1.jpg' %});}
    .idx_3_2 {background-image: url({% static '/static/images_index/index_03_2.jpg' %});}
    .idx_3_3 {background-image: url({% static '/static/images_index/index_03_3.jpg' %});}
{% endblock %}

{% block body %}
    <a href="{% url '/photography.html' %}" id="idx1" class="collage idx_1_4" alt="Photography"></a>
    <a href="{% url '/timelapse.html' %}" id="idx2" class="collage idx_2_1" alt="Time-Lapse Movies"></a>
    <a href="{% url '/timelapse_guide.html' %}" id="idx3" class="collage idx_3_1" alt="Time-Lapse Guide"></a>
{% endblock %}

{% block scripts %}
    <script src="{% static '/static/js/index.js' %}"></script>
    <script src="{% static '/static/js/vendor/jquery.tipTip.min.js' %}"></script>
{% endblock %}
