{% extends "base.html" %}

{% block page_name %}
    Photography
{% endblock %}

{% block banner %}ADL_004711{% endblock %}
{% block banner2x %}ADL_004711{% endblock %}

{% block style %}
    #pageHeader h1 {
        color: #fff;
        left: 360px;
        top: 25px;}
{% endblock %}

{% block body %}
    <a style="color:#aaaaaa; float:right; font-size: 0.5em;" href="http://delaat.me/Photos_D700/res/m/" target="target">HTML version</a><br>
    <iframe style="background-color: transparent;" name="Photos_D700"
            src="http://delaat.me/Photos_D700/" width="100%" height="750"
            frameborder="0" scrolling="auto" id="target">
        153957 Photography, Arne de Laat Fotografie.
        Photo's from; Nature, Landscape, Trees, Flowers, Frost, Paths, Dogs,
        Butterflies, Dragonflies, Leaves, Curtains, Sun, Barbed Wire,
        Clouds, Animals, Signs, Structures, etc.
    </iframe>
{% endblock %}
