{% extends "base.html" %}

{% block page_name %}Photography{% endblock %}
{% block title %}{{ block.super }} : Photography{% endblock %}

{% block banner %}ADL_004711{% endblock %}
{% block banner2x %}ADL_004711{% endblock %}

{% block style %}
    #pageHeader h1 {
        left: 360px;
        top: 25px;}
{% endblock %}

{% block scripts %}
    <script src="{% static '/static/js/photos.js' %}"></script>
{% endblock %}

{% block body %}
    <iframe class="album" src="about:blank" height="750" id="target"
            data-album="Photography/">
    </iframe>
{% endblock %}
