{% extends "base.html" %}

{% block page_name %}Event Photography{% endblock %}
{% block title %}{{ block.super }} : Event Photography{% endblock %}

{% block banner %}ADL_137130{% endblock %}
{% block banner2x %}ADL_137130{% endblock %}

{% block style %}
    #pageHeader h1 {
        left: 180px;
        top: 20px;}
{% endblock %}

{% block scripts %}
    <script src="{% static '/static/js/photos.js' %}"></script>
{% endblock %}

{% block body %}
    <iframe class="album" src="about:blank" height="750" id="target"
            data-album="Photos_Events/">
    </iframe>
{% endblock %}
