{% extends "base.html" %}

{% block page_name %}Event Photography{% endblock %}
{% block title %}{{ block.super }} : Event Photography{% endblock %}

{% block banner %}ADL_137130{% endblock %}
{% block banner2x %}ADL_137130{% endblock %}

{% block style %}
    #pageHeader h1 {
        left: 180px;
        top: 20px;}
{% endblock %}

{% block scripts %}
    <script src="{% static '/static/js/photos.js' %}"></script>
{% endblock %}

{% block body %}
    <a style="color:#aaaaaa; float:right; font-size: 0.5em;" href="http://arne.delaat.net/Photos_Events/res/m/" target="Photos_Events">HTML version</a><br>
    <iframe style="background-color: transparent;" name="Photos_Events"
            src="" width="100%" height="750"
            frameborder="0" scrolling="auto" id="target">
        153957 Photography, Arne de Laat Fotografie. Photo's from;
        Castlefest, Keltfest, Schotland Festival, Elf Fantasy Fair,
        Balfolk, CaDansa, Summer Darkness, MidWinter Fair, Mystic Fair,
        Valravn, Virelai, Faun, Rapalje, Sport, Archery, Soccer, Beach,
        Volleyball, Vacations: Japan and China, Solar Eclipse, Kyoto,
        Tokyo, Shanghai, Belgium, Antwerp.
    </iframe>
{% endblock %}
