{% extends "base.html" %}

{% block page_name %}Time-Lapse{% endblock %}
{% block title %}{{ block.super }} : Time-Lapse{% endblock %}

{% block banner %}DSC_085677{% endblock %}
{% block banner2x %}DSC_085677{% endblock %}

{% block style %}
    #pageHeader h1 {
        left: 650px;
        top: 25px;}

    /* Temporary fix */
    #content {
        padding-left: 0;
        padding-right: 0;}

    #slider {
        padding: 0 9px;}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static '/static/css/tipTip.css' %}" />
    <link rel="stylesheet" href="{% static '/static/css/video.css' %}" />
    <link rel="stylesheet" href="{% static '/static/css/controls.css' %}" />
    <link rel="stylesheet" href="{% static '/static/css/thumbs/D80.css' %}" />
    <link rel="stylesheet" href="{% static '/static/css/thumbs/D90.css' %}" />
    <link rel="stylesheet" href="{% static '/static/css/thumbs/D700.css' %}" />
    <link rel="stylesheet" href="{% static '/static/css/thumbs/S60.css' %}" />
{% endblock %}

{% block body %}
<div id="slider">
    <div id="categories">
        <ul>
             <li class="category currentcat" id="Reels">Reels
        </li><li class="category" id="Archery">Archery
        </li><li class="category" id="Astronomy">Astronomy
        </li><li class="category" id="Balfolk">Balfolk
        </li><li class="category" id="Clouds">Clouds
        </li><li class="category" id="Fire">Fire
        </li><li class="category" id="Flowers">Flowers
        </li><li class="category" id="Frost">Frost
        </li><li class="category" id="Other">Other
        </li><li class="category" id="Sun">Sun
        </li><li class="category" id="Traffic">Traffic
        </li></ul>
    </div><!--/categories-->

    <div id="thumbnails">
        <div class="slide" id="Flowers-content">
            <ul>
                 <li class="d700" id="D700_181014_1_2" data-960 data-1920>
            </li><li class="d90" id="D90_130217_1_4" data-960 data-1920>
            </li><li class="d80" id="D80_080816_1" data-960 data-1920>
            </li><li class="d80" id="D80_080806_1" data-960 data-1920>
            </li><li class="d80" id="D80_080714_1" data-960>
            </li><li class="s60" id="S60_080614_1" data-960 data-audio>
            </li><li class="s60" id="S60_080608_1" data-960>
            </li><li class="s60" id="S60_080607_1" data-960>
            </li><li class="s60" id="S60_080515_1" data-960>
            </li><li class="s60" id="S60_070728_1" data-960 data-1920>
            </li><li class="s60" id="S60_070428_1" data-960>
            </li><li class="s60" id="S60_060921_1" data-960 data-audio>
            </li><li class="s60" id="S60_060716_1" data-960 data-audio>
            </li></ul>
        </div>
        <div class="slide" id="Clouds-content">
            <ul>
                 <li class="d700" id="D700_110413_1" data-960 data-1920>
            </li><li class="d80" id="D80_100924_1_2" data-960>
            </li><li class="d80" id="D80_100722_3" data-960>
            </li><li class="d80" id="D80_091012_2" data-960>
            </li><li class="d80" id="D80_091009_1" data-960 data-audio>
            </li><li class="d80" id="D80_090721_2" data-960>
            </li><li class="d80" id="D80_090710_1" data-960>
            </li><li class="d80" id="D80_090624_5" data-960>
            </li><li class="d80" id="D80_090624_3" data-960>
            </li><li class="d80" id="D80_090624_1" data-960>
            </li><li class="d80" id="D80_090327_3" data-960>
            </li><li class="d80" id="D80_090325_2" data-960 data-1920>
            </li><li class="d80" id="D80_090325_1" data-960>
            </li><li class="d80" id="D80_090313_2" data-960 data-1920>
            </li><li class="d80" id="D80_090313_1" data-960>
            </li><li class="d80" id="D80_081111_1" data-960>
            </li><li class="d80" id="D80_080716_2" data-960>
            </li><li class="d80" id="D80_080716_1" data-960>
            </li><li class="d80" id="D80_080711_1" data-960>
            </li><li class="d80" id="D80_080708_2" data-960>
            </li><li class="d80" id="D80_080707_1" data-960>
            </li><li class="s60" id="S60_060228_1" data-960 data-audio>
            </li><li class="s60" id="S60_060530_1" data-960>
            </li><li class="s60" id="S60_050621_2" data-960>
            </li></ul>
        </div>
        <div class="slide" id="Traffic-content">
            <ul>
                 <li class="d700" id="D700_170218_1_2_3" data-960 data-1920>
            </li><li class="d90" id="D90_130424_1" data-960 data-1920>
            </li><li class="d700" id="D700_120826_1" data-960 data-1920>
            </li><li class="d90" id="D90_120506_1_2" data-960>
            </li><li class="d80" id="D80_101129_1" data-960 data-1920>
            </li><li class="d80" id="D80_101121_2" data-960>
            </li><li class="d80" id="D80_101118_101126_1" data-960>
            </li><li class="d700" id="D700_101109_2" data-960 data-1920>
            </li><li class="d80" id="D80_100914_1" data-960>
            </li><li class="d80" id="D80_100913_2" data-960>
            </li><li class="d700" id="D700_100722_4_5" data-960>
            </li><li class="d80" id="D80_091019_1" data-960>
            </li><li class="d80" id="D80_091019_3" data-960>
            </li><li class="d80" id="D80_090727_3" data-960>
            </li><li class="d80" id="D80_090727_2" data-960>
            </li><li class="d80" id="D80_090721_1" data-960>
            </li><li class="d80" id="D80_090712_1" data-960>
            </li><li class="d80" id="D80_080716_4" data-960 data-1920>
            </li></ul>
        </div>
        <div class="slide" id="Frost-content">
            <ul>
                 <li class="d80" id="D80_100201_3" data-960>
            </li><li class="d80" id="D80_100201_1" data-960>
            </li><li class="d80" id="D80_090109_1" data-960>
            </li><li class="d80" id="D80_080708_1" data-960>
            </li><li class="s60" id="S60_060812_1" data-960>
            </li><li class="s60" id="S60_060504_1" data-960 data-1920>
            </li><li class="s60" id="S60_050504_1" data-960 data-1920>
            </li></ul>
        </div>
        <div class="slide" id="Sun-content">
            <ul>
                 <li class="d80" id="D80_100816_1_2" data-960>
            </li><li class="d80" id="D80_100722_1" data-960>
            </li><li class="d80" id="D80_100531_1" data-960>
            </li><li class="d80" id="D80_091012_3" data-960>
            </li><li class="d80" id="D80_091012_1" data-960>
            </li><li class="d80" id="D80_090403_1" data-960>
            </li><li class="d80" id="D80_090401_1" data-960 data-1920>
            </li><li class="d80" id="D80_081218_1" data-960>
            </li><li class="s60" id="S60_080110_1" data-960>
            </li><li class="s60" id="S60_070601_1" data-960>
            </li></ul>
        </div>
        <div class="slide" id="Balfolk-content">
            <ul>
                 <li class="d90" id="D90_CaDansa2014" data-960 data-1920 data-audio>
            </li><li class="d90" id="D90_120602_1" data-960 data-audio>
            </li><li class="d80" id="D80_100405_1" data-960 data-audio>
            </li><li class="d80" id="D80_091009_2" data-960 data-audio>
            </li><li class="d80" id="D80_090906_3" data-960 data-audio>
            </li><li class="d80" id="D80_090617_1" data-960 data-1920 data-audio>
            </li></ul>
        </div>
        <div class="slide" id="Archery-content">
            <ul>
                 <li class="d700" id="D700_D90_120524_1_2_3_4" data-960 data-1920>
            </li><li class="d80" id="D80_100816_3" data-960>
            </li><li class="d80" id="D80_090906_2" data-960>
            </li><li class="d80" id="D80_090906_1" data-960>
            </li><li class="s60" id="S60_051218_1" data-960>
            </li></ul>
        </div>
        <div class="slide" id="Other-content">
            <ul>
                 <li class="d700" id="D700_151203_1_3_4" data-960 data-1920>
            </li><li class="d700" id="D700_140608_2" data-960 data-1920>
            </li><li class="d700" id="D700_110413_2-111202_1-120219_1" data-960 data-1920>
            </li><li class="d700" id="D700_111127_1-110122_2_D90_130426_1-130428_4" data-960 data-1920>
            </li><li class="d700" id="D700_D80_101014_2_4_1" data-960>
            </li><li class="d700" id="D700_D80_100722_2_4" data-960>
            </li><li class="d80" id="D80_100427_1" data-960>
            </li><li class="d80" id="D80_100208_1" data-960>
            </li><li class="d80" id="D80_090918_1" data-960>
            </li><li class="d80" id="D80_090715_1" data-960>
            </li><li class="d80" id="D80_090712_2" data-960>
            </li><li class="d80" id="D80_090710_2" data-960>
            </li><li class="d80" id="D80_080721_1" data-960>
            </li><li class="s60" id="S60_060404_1" data-960 data-audio>
            </li>
            </ul>
        </div>
        <div class="slide" id="Fire-content">
            <ul>
                 <li class="d80" id="D80_111111_1" data-960>
            </li><li class="d80" id="D80_110311_1" data-960 data-audio>
            </li><li class="d700" id="D700_091228_1" data-960>
            </li><li class="d80" id="D80_090829_1" data-960>
            </li><li class="d80" id="D80_090718_2" data-960>
            </li><li class="d80" id="D80_090718_1" data-960 data-audio>
            </li><li class="d80" id="D80_090603_2" data-960 data-audio>
            </li><li class="d80" id="D80_090403_2" data-960 data-1920>
            </li><li class="d80" id="D80_081214_1" data-960 data-audio>
            </li></ul>
        </div>
        <div class="slide" id="Astronomy-content">
            <ul>
                 <li class="d700" id="D700_D500_180727_1_2_4_5" data-960 data-1920>
            </li><li class="d90" id="D90_150322_1" data-960 data-1920>
            </li><li class="d90" id="D90_150316_1" data-960 data-1920>
            </li><li class="d90" id="D90_140416_140417_1" data-960>
            </li><li class="d700" id="D700_110928_1" data-960 data-1920>
            </li><li class="d700" id="D700_110927_1" data-960>
            </li><li class="d80" id="D80_110515_110521_110522" data-960 data-1920>
            </li><li class="d80" id="D80_110521_1" data-960>
            </li><li class="d80" id="D80_110516_5" data-960>
            </li><li class="d80" id="D80_110516_3" data-960>
            </li><li class="d80" id="D80_110515_2" data-960>
            </li><li class="d80" id="D80_110514_2" data-960>
            </li><li class="d80" id="D80_100131_2" data-960>
            </li><li class="d80" id="D80_091207_1" data-960>
            </li><li class="d80" id="D80_091102_2" data-960>
            </li><li class="d80" id="D80_090903_4" data-960>
            </li><li class="d80" id="D80_090901_2" data-960>
            </li><li class="d80" id="D80_080716_3" data-960>
            </li></ul>
        </div>
        <div class="slide currentslide" id="Reels-content">
             <ul>
                 <li class="d700" id="D700_D90_150317_NorthernLights" data-960 data-1920>
            </li><li class="d700" id="D700_D80_Virtual_Eyes" data-960 data-1920 data-audio>
            </li><li class="d80" id="D80_Events" data-960 data-1920 data-audio>
            </li><li class="d80" id="D80_110514_110520_1_2_4" data-960 data-audio>
            </li></ul>
        </div>
        <div class="slide" id="Description-content">
            <p>
                This is my time-lapse showcase. This page contains a collection of my
                time-lapse movies. Most movies were created with my Nikon DSLRs and some
                with my Canon Powershot. The Nikon D80 and D90 required an external
                intervalometer or a computer to control the camera, the Canon S60, Nikon
                D500, and Nikon D700 have built-in intervalometers.

                A HTML5 video capable browser is required to view the movies. The movies
                are encoded with the x264 codec. The movies are ordered by shooting date,
                the newest are at the top of the categories. Most movies are made in the
                Netherlands, but some were shot in Chile, Japan, or China. The categories
                include movies about archery shooting, balfolk dancing, blooming flowers,
                traffic, fireshows, clouds, sunset, sunrise, night skies, stars,
                ice cubes melting, and some other miscellaneous subjects.
            </p>
        </div>
    </div><!--/thumbnails-->
</div><!--/slider-->

<div id="movie">
    <img id="poster" class="showing" data-id="D700_D90_150317_NorthernLights" alt="Northern Lights"
         src="{% static '/static/images_timelapse/D700_D90_150317_NorthernLights_poster.jpg' %}" />
    <video id="player"></video>
</div><!--/movie-->
{% endblock %}

{% block scripts %}
    <script src="{% static '/static/js/vendor/jquery.tipTip.min.js' %}"></script>
    <script src="{% static '/static/js/video.js' %}"></script>
{% endblock %}
