<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}153957 Photography{% endblock %}</title>
        {% include 'favicon.html' %}
        <meta name="application-name" content="153957 Photography">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static '/static/css/vendor/normalize.css' %}">
        <link rel="stylesheet" href="{% static '/static/css/vendor/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static '/static/css/main.css' %}">
        <link rel="stylesheet" href="{% static '/static/css/tipTip.css' %}">
        <style>
            #pageHeader {
                background-image: linear-gradient(to bottom,
                                                  rgba(255, 255, 255, 0) 80%,
                                                  rgba(255, 255, 255, 0.9) 97%,
                                                  rgba(255, 255, 255, 1)),
                                  url('/static/images_banners/{% block banner %}DSC_000166{% endblock %}.jpg');}
            @media
            only screen and (-webkit-min-device-pixel-ratio: 2),
            only screen and (min-resolution: 192dpi),
            only screen and (min-resolution: 2dppx) {
                #pageHeader {
                    background-image: linear-gradient(to bottom,
                                                      rgba(255, 255, 255, 0) 80%,
                                                      rgba(255, 255, 255, 0.9) 97%,
                                                      rgba(255, 255, 255, 1)),
                                      url('/static/images_banners/{% block banner2x %}DSC_000166{% endblock %}@2x.jpg');}
            }
            {% block style %}
            {% endblock %}
        </style>
        {% block head %}
        {% endblock %}
    </head>

    <body>
        <div id="wrapper">
            <div id="shadow"></div>
            <div id="pageHeader">
                {% include 'navigation.html' %}
                <h1>153957 Photography</h1>
                <h2>{% block page_name %}{% endblock %}</h2>
            </div><!-- /pageHeader -->
            <div id="container">
                <div id="contentContainer">
                    <div id="content">
                    {% block body %}
                    {% endblock %}
                    </div><!-- /content -->
                </div><!-- /contentContainer -->
                <div class="clearer">
                </div><!-- clearer -->
                <div id="footer">
                    <p>
                        This website and its content is licensed under
                        <a target="_blank" rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
                            <i class="fa fa-creative-commons"></i>
                        </a>
                        by Arne de Laat. Some rights reserved.
                    </p>
                </div><!-- /footer -->
            </div><!-- /container -->
        </div><!-- /wrapper -->

        <script src="{% static '/static/js/vendor/jquery-1.10.2.js' %}"></script>
        {% block scripts %}
        {% endblock %}
        <script>
            {% block script %}
            {% endblock %}
            var sc_project=865657;
            var sc_invisible=1;
            var sc_security="b2bfd38e";
        </script>
        <script src="http://www.statcounter.com/counter/counter.js"></script>
    </body>
</html>

