<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}153957 Photography{% endblock %}</title>
        {% include 'favicon.html' %}
        <meta name="application-name" content="153957 Photography">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static '/static/css/vendor/normalize.css' %}">
        <link rel="stylesheet" href="{% static '/static/css/vendor/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static '/static/css/main.css' %}">
        <link rel="stylesheet" href="{% static '/static/css/tipTip.css' %}">
        <style>
            #pageHeader {
                background-image: linear-gradient(to bottom,
                                                  rgba(255,255,255,0) 80%,
                                                  rgba(255,255,255,.9) 97%,
                                                  rgba(255,255,255,1)),
                                  url('/static/images_banners/{% block banner %}DSC_000166{% endblock %}.jpg');}
            @media 
            only screen and (-webkit-min-device-pixel-ratio: 2), 
            only screen and (min-resolution: 192dpi) {
                #pageHeader {
                    background-image: linear-gradient(to bottom,
                                                      rgba(255,255,255,0) 80%,
                                                      rgba(255,255,255,.9) 97%,
                                                      rgba(255,255,255,1)),
                                      url('/static/images_banners/{% block banner2x %}DSC_000166{% endblock %}@2x.jpg');}
            }
            {% block style %}
            {% endblock %}
        </style>
        {% block head %}
        {% endblock %}
    </head>

    <body>
        <div id="wrapper">
            <div id="shadow"></div>
            <div id="pageHeader">
                {% include 'navigation.html' %}
                <h1>153957 Photography</h1>
                <h2>{% block page_name %}{% endblock %}</h2>
            </div><!-- /pageHeader -->
            <div id="container">
                <div id="contentContainer">
                    <div id="content">
