<nav>
    <ul>
        <li class="{% if_current_page '/photography.html' 'active' '' %}">
            <a href="{% url '/photography.html' %}">Photography</a>
        </li>
        <li class="{% if_current_page '/photos_events.html' 'active' '' %}">
            <a href="{% url '/photos_events.html' %}">Events</a>
        </li>
        <li class="{% if_current_page '/timelapse.html' 'active' '' %}">
            <a href="{% url '/timelapse.html' %}">Time-Lapse</a>
        </li>
        <li class="{% if_current_page '/timelapse_guide.html' 'active' '' %}">
            <a href="{% url '/timelapse_guide.html' %}">Guide</a>
        </li>
        <li class="{% if_current_page '/links.html' 'active' '' %}">
            <a href="{% url '/links.html' %}">Links</a>
        </li>
    </ul>
</nav>
