name: Run tests

on:
  schedule:
    - cron: '0 6 1,15 * 5'
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: '3.13'
          activate-environment: true
      - run: make install
      - run: make build
      - uses: Cyb3r-Jak3/html5validator-action@v8.0.0
        with:
          root: .build/
          log_level: INFO
          blacklist: index_footer.html index_header.html

  rufftest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: '3.13'
          activate-environment: true
      - run: make ruffinstall
      - run: make rufftest
        env:
          RUFF_FORMAT: github

  typingtest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: '3.13'
          activate-environment: true
      - run: make tyinstall
      - run: make typingtest
